@model int

@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        <div class="text-bg-info">Your order number is @Model</div>
    </div>
</div>
