@model InstrumentHiringSystem.Models.Company

@{
    ViewData["Title"] = "Company";
    var title = "Create a new company";
}

<h1 class="mb-4">Company Index</h1>

<form method="post">
    <div class="row mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (@Model.ID != 0)
        {
            title = "Edit an existing company";
        }
        <div class="col-6">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8 mb-4">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="StreetAddress"></label>
                </div>
                <div class="col-8 mb-4">
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="City"></label>
                </div>
                <div class="col-8 mb-4">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-8 mb-4">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="PostalCode"></label>
                </div>
                <div class="col-8 mb-4">
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="col-8 mb-4">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.ID != 0)
                    {
                        <partial name="_UpdateAndBackToList" model="Model.ID" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToList" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
