@model InstrumentHiringSystem.Models.CoverType

@{
    ViewData["Title"] = "Cover Type";
    var title = "Create a new cover type";
}

<h1 class="mb-4">Category Index</h1>

<form method="post">
    <div class="row mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (@Model.ID != 0)
        {
            title = "Edit an existing cover type";
        }
        <div class="col-6">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Title"></label>
                </div>
                <div class="col-8 mb-4">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <input asp-for="CreatedAt" class="form-control" type="hidden" />
                <input asp-for="LastModifiedAt" class="form-control" type="hidden" />
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.ID != 0)
                    {
                        <partial name="_UpdateAndBackToList" model="Model.ID" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToList" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
